#cabecera{
    background: blueviolet;
    width: 400px;
    float: right;
}
.destacado{
    font-size: 20px;
    color: fuchsia;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.div{
    background-color: yellow;
    width: 600px;
    height: 400px;
    border: 4px blue dotted;
    padding: 20px 10px 20px;
}
#video{
    float: left;
    background: skyblue;
    color: fuchsia;
}
.parrafo{
    background:blue;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 250px;
    display: inline-block;
    float: right;
}
.subtitulo{
    background: turquoise;
    color: black;
    width: 350px;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titulo{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
#subt2{
    background: transparent;
    color: transparent;
}